<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Exhibition</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/admin/exhibition}" th:object="${exhibition}"
		method="post">
		<div>
			<div>
				<span th:text="#{label.name}">Name: </span> <span><input
					type="text" th:field="*{name}" /></span> <span
					th:if="${#fields.hasErrors('name')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.description}">Description: </span> <span><input
					type="text" th:field="*{description}" /></span>
					
			</div>
			<div>
				<span th:text="#{label.room}">(multiple select)</span> 
			
				<select name="rooms" size = "4" multiple="multiple">
				<option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}">
				</option>
				</select>
			
			</div>

			<span><button type="submit">Submit</button></span>
		</div>
		
		<p>
      <a href="../index.html" th:href="@{/}">Return to home</a>
    </p>


	</form>
</body>
</html>