<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>GabriellArtGallery-Admin</title>
<!-- BOOTSTRAP STYLES-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<!-- MORRIS CHART STYLES-->
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link href="../css/custom.css" rel="stylesheet" type="text/css" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Monoton'
	rel='stylesheet' />
</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/header :: header-admin-top"></div>
		<!-- /. NAV TOP  -->
		<div th:replace="fragments/header :: header-admin"></div>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<h2>Admin Dashboard</h2>
							<h5>Manage GaG artist</h5>
						</div>

					</div>
				</div>
				<!-- /. ROW  -->
				<hr />
				<div class="row">

					<div class="col-md-12">
						<div class="panel panel-success">
							<div class="panel-heading">Picture Info</div>
							<div class="row">
								<div class="panel-body">
									<div class="col-md-12">
										<a th:href="@{/admin/picturesList}" class="btn btn-primary">Pictures
											List </a>
											<p></p>
										<ul class="list-group">
										
											<li class="list-group-item"><p
													th:text="'Title: ' + ${picture.title}" /></li>
											<li class="list-group-item"><p
													th:text="'Artist: ' + ${picture.artist.name} + ' ' + ${picture.artist.surname}" />
													<a
													th:href="@{/admin/showArtist(id=${picture.artist.id})}"
													class="btn btn-default">Detail</a></li>
											<li class="list-group-item"><p
													th:text="'Year: ' + ${picture.year}" /></li>
											<li class="list-group-item"><p
													th:text="'Medium: ' + ${picture.medium}" /></li>
											<li class="list-group-item"><p
													th:text="'Dimension: ' + ${picture.dimension}" /></li>

											<li class="list-group-item"><p
													th:text="'Url: ' + ${picture.url}" /> <img
												th:src="${picture.url}"></img></li>
											<li class="list-group-item"><p
													th:text="'Description: ' + ${picture.description}" /></li>
													
										</ul>

										<a th:href="@{/admin/deletePicture(id=${picture.id})}"
											class="btn btn-danger">Delete </a>
											
										<a th:href="@{/admin/picturesList}" class="btn btn-primary">Pictures
											List </a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>



				<!-- /. PAGE WRAPPER  -->
			</div>
		</div>
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="../js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="../js/jquery.metisMenu.js"></script>
	<!-- MORRIS CHART SCRIPTS -->
	<script src="../js/morris/raphael-2.1.0.min.js"></script>
	<script src="../js/morris/morris.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="../js/custom.js"></script>
	>>>>>>> branch 'develop' of
	https://github.com/tcaiazzi/GabriellArtGallery.git
</body>
</html>

