.wrapper {
	width: 100%;
	/*background-image: url("img/bg.jpg");
// background-attachment: fixed;*/
}

#page-wrapper {
	padding: 15px 15px;
	min-height: 600px;
}

#page-inner {
	width: 100%;
	margin: 10px 20px 10px 0px;
}

body {
	min-height: 2000px;
	padding-top: 0px;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	margin-top: 100px;
	opacity: 0.93;
	background-image: url("img/magritte.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.conteiner {
	padding-top: 100px;
}

.sectionConteiner {
	padding-left: -50px;
	padding-right: -50px;
}


#artistPanel{
	border:5px;
	border-color:black;
	border-radius:10px;
	width:256px;
	height:256px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-top: 100px;
	height: 300px;
	margin-bottom: 60px;
	border: 10px;
	border-color: blue;
	opacity: 0.95;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	padding-top: 10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 50%;
	max-width: 100%;
	min-height: 200px;
	max-height: 300px;
}

.carousel .item>img {
	position: absolute;
	top: 25%%;
	left: 0;
	min-width: 100%;
}

section {
	padding: 50px;
	margin-left: -15px;
	margin-right: -15px;
	opacity: 0.93;
}

section h2 {
	margin: 0;
	font-size: 3em;
	padding-bottom: 20px;
}

section.success {
	background-color: #c12f36;
	color: white;
}

section.currentExhibition {
	margin-top: 100px;
	padding: 30px;
	max-height: 300px;
}

section.aboutGag {
	padding: 30px;
	margin-top: 50px;
}

section.panelExhibition {
	background-color: #c12f36;
	color: white;
	margin-top: 80px;
	opacity:0.9;
}

section.panelExhibitionDesc{
	background-color: black;
	color: white;
	margin-top: 80px;
	height:425px;
	opacity:0.7;
	
}
/**@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}**/
a {
	color: white;
}

#portfolio .portfolio-item {
	margin: 0 0 15px;
	right: 0;
	padding: 30px;
	padding-left: 60px;
	background-color: #c12f36;
	border-radius: 5px;
}

#txt {
	margin: 0;
	font-size: 1.5em;;
	padding-top: 10px padding-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	max-width: 400px;
	margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background: rgba(24, 188, 156, 0.9);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
	#portfolio .portfolio-item .portfolio-link .caption .caption-content h4
	{
	margin: 0;
}

#portfolio * {
	z-index: 2;
}

.navbar-default {
	background-color: #c12f36;
	border-color: #a10101;
	margin-bottom: 0;
	opacity: 0.97;
}

.navbar-default .navbar-brand {
	color: #e3e3e3;
	font-family: 'Monoton', cursive;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #f6f4f9;
}

.navbar-default .navbar-text {
	color: #e3e3e3;
}

.navbar-default .navbar-nav>li>a {
	color: #e3e3e3;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #f6f4f9;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: #c12f36;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #e3e3e3;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #f6f4f9;
	background-color: #a10101;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
	background-color: #a10101;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #f6f4f9;
	background-color: #a10101;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #f6f4f9;
	background-color: #a10101;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #f6f4f9;
	background-color: #a10101;
}

.navbar-default .navbar-toggle {
	border-color: #a10101;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #a10101;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #e3e3e3;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e3e3e3;
}

.navbar-default .navbar-link {
	color: #e3e3e3;
}

.navbar-default .navbar-link:hover {
	color: #f6f4f9;
}

.wrapper>.bg {
	background-image: url("../img/bg1.png");
	background-attachment: fixed;
}

@media ( max-width : 767px) { {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #e3e3e3;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #f6f4f9;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #f6f4f9;
		background-color: #a10101;
	}
}