<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>GabriellArtGallery-Admin</title>
<!-- BOOTSTRAP STYLES-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<!-- MORRIS CHART STYLES-->
<link href="../js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link href="../css/custom.css" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">GAG admin</a>
			</div>

		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li class="text-center"><img src="assets/img/find_user.png"
						class="user-image img-responsive" /></li>

					<li><a href="/artist.html"><i class="fa fa-edit fa-3x"></i>
							Artist</a></li>
					<li><a href="/picture.html"><i class="fa fa-edit fa-3x"></i>
							Picture</a></li>
					<li><a href="/exhibition"><i class="fa fa-edit fa-3x"></i>
							Exhibition </a></li>

					<li><a href="blank.html"><i class="fa fa-square-o fa-3x"></i>
							Profile</a></li>
				</ul>

			</div>

		</nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h2>Admin Dashboard</h2>
						<h5>Manage GaG artist</h5>
					</div>
				</div>
				<!-- /. ROW  -->
				<hr />
				<div class="row">

					<div class="col-md-6">
						<!-- Form Elements -->
						<div class="panel panel-default">
							<div class="panel-heading">Form Insert Artist</div>
							<div class="row">
								<div class="panel-body">
									<div class="col-md-6">
										<h3></h3>
										<!-- FORM -->
										<form role="form" action="#" th:action="@{/artist}"
											th:object="${artist}" method="post">
											<div class="form-group">
												<label>Artist Name</label> <input class="form-control"
													th:field="*{name}" />
												<p class="help-block">
													<span th:if="${#fields.hasErrors('name')}"
														th:text="#{label.mandatory}"></span>
												</p>
											</div>
											<div class="form-group">
												<label>Artist LastName</label> <input class="form-control"
													th:field="*{surname}" />
												<p class="help-block">
													<span th:if="${#fields.hasErrors('surname')}"
														th:text="#{label.mandatory}"></span>
												</p>
											</div>
											<div class="form-group">
												<label>Artist Nationality</label> <input class="form-control"
													th:field="*{nationality}" />
												<p class="help-block">
													<span th:if="${#fields.hasErrors('nationality')}"
														th:text="#{label.mandatory}"></span>
												</p>
											</div>
											<div class="form-group">
												<label>Artist birthDate</label> <input class="form-control"
													th:field="*{birthDate}" />
												<p class="help-block">
													<span th:if="${#fields.hasErrors('birthDate')}"
														th:text="#{label.mandatory}"></span>
												</p>
											</div>
											<div class="form-group">
												<label>Artist deathDate</label> <input class="form-control"
													th:field="*{deathDate}" />
												
											</div>
											
											<button type="submit" class="btn btn-default">Submit
												Button</button>
											<button type="reset" class="btn btn-primary">Reset
												Button</button>

										</form>
										<br />
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<a href="/artistsList"><div class="panel panel-back noti-box">
								<span class="icon-box bg-color-green set-icon"> <i
									class="fa fa-user"></i>
								</span>
								<div id="bottone" class="text-box">
									<p class="main-text">List</p>
									<p class="text-muted">view artists list</p>
								</div>
								<div id="list">DIO CANEEEEEEE</div>


							</div></a>
					</div>
				</div>








				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="../js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="../js/jquery.metisMenu.js"></script>
	<!-- MORRIS CHART SCRIPTS -->
	<script src="../js/morris/raphael-2.1.0.min.js"></script>
	<script src="../js/morris/morris.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="../js/custom.js"></script>

</body>
</html>

