<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
    	<p th:text="'Name: ' + ${artist.name}" />
    </div>
	<div>
    	<p th:text="'Surname: ' + ${artist.surname}" />
    </div>
	<div>
    	<p th:text="'Nationality: ' + ${artist.nationality}" />	
    </div>
    <div>
    	<p th:text="'Birth Date: ' + ${artist.birthDate}" />	
    </div>
    <div>
    	<p th:text="'Dead Date: ' + ${artist.deathDate}" />	
    </div>
    
    <table>
      <tr>
        <th>Picture List</th>
   
      </tr>
      <tr th:each="picture : ${pictures}" th:object="${picture}" th:href="@{/picture(id=${picture.id})}">
       <td th:text="${picture.title}"></td>
        <td><a th:href="@{/showPicture(id=${picture.id})}"> view picture</a></td>
       </tr>
    </table>

</body>
</html>