<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>

  <body>

    <h1>Exhibition List</h1>
  
    <table>
      <tr>
        <th>Exhibition List</th>
   
      </tr>
      
      <tr th:each="exhibition : ${exhibitions}" th:object="${exhibition}">
       <td th:text="${exhibition.name}"></td>
        <td th:text="${exhibition.description}"></td>
        <td><a th:href="@{/showExhibition(id=${exhibition.id})}"> view profile</a></td>
       </tr>
    </table>
  
    <p>
      <a href="../index.html" th:href="@{/}">Return to home</a>
    </p>

  </body>

</html>