<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springSecurity4">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../../favicon.ico" />

<title>GAG | Exhibitions</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/gag.css" rel="stylesheet" />



<!-- Custom styles for this template -->
<link href="css/navbar-fixed-top.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Monoton"
	rel="stylesheet" />

</head>

<body ng-app="app" ng-controller="home as home">
	<div class="wrapper">
		<div class="bg">
			<!-- Fixed navbar -->
			<div th:replace="fragments/header :: header-home"></div>
			<div id="page-inner">
				<div class="container">
					<div class="row" th:each="exhibition : ${exhibitions}">
						<div class="col-lg-8">
							<section class="panelExhibition" id="about">
								<img class="exhibition img-responsive"
									th:src="${exhibition.url}"></img>
							</section>
						</div>
						<div class="col-lg-4">

							<section class="panelExhibitionDesc" id="about">
								<h2 th:text="${exhibition.name}"></h2>
								<hr></hr>
								<p th:text="${exhibition.description}" />
								<a
									th:href="@{/showExhibition(id=${exhibition.id}, name=${exhibition.name})}">
									<button class="btn btn-danger">More info</button>
								</a> <a
									th:href="@{/reservation/confirm(id=${exhibition.id}, name=${exhibition.name})}">
									<button class="btn btn-success">Prenotati</button>
								</a>
							</section>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="fragments/footer :: footer-home"></div>
		</div>
	</div>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		// <![CDATA[
		window.jQuery
				|| document
						.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>');
		// ]]>
	</script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript">
		angular
				.module("app", [])
				.config(
						function($httpProvider) {
							$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
						})
				.controller(
						"home",
						function($http, $location) {
							var self = this;
							$http
									.get("/userinfo")
									.success(
											function(data) {
												if (data.userAuthentication) {
													if (data.userAuthentication.details.name)
														self.user = data.userAuthentication.details.name;
													else
														self.user = data.principal
												} else if (data.principal) {
													self.user = data.principal.username;
												}

											}).error(function() {

									});

						});
	</script>

</body>
</html>
