<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springSecurity4">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GabriellArtGallery</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body ng-app="app" ng-controller="home as home">
	<h1>GabriellArtGallery</h1>

	<div class="container" sec:authorize="!isAuthenticated()">
		<h2>Login</h2>
		<div>
			With Facebook: <a href="/login/facebook">click here</a>
		</div>
		<div>
			With Github: <a href="/login/github">click here</a>
		</div>
		<div>
			With Google: <a href="/login/google">click here</a>
		</div>
		<div>
			With us: <a href="/login">click here</a>
		</div>

		<div sec:authorize="hasAuthority('ADMIN')">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>


	</div>

	<div class="container" sec:authorize="!isAuthenticated()">
		<h2>Sign Up</h2>
		<div>
			Register an account: <a href="/signUp">click here</a>
		</div>

	</div>
	<div class="container" sec:authorize="isAuthenticated()">
		User Operations:

		<div>
			<a href="/artistsList">Artists List</a>
		</div>
		<div>
			<a href="/exhibitionList">Exhibition List</a>
		</div>

		<div class="container" sec:authorize="hasAuthority('ADMIN')">
			<h2>Sign Up</h2>
			<div>
				Admin Panel: <a href="/admin">click here</a>
			</div>

		</div>

		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>

			<div class="container">
				Logged in as: <span ng-bind="home.user"></span>
			</div>
		</div>
	</div>



	<div>Logout</div>

	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript">
    angular.module("app", [])
        .config(function($httpProvider) {
              $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            }).controller("home", function($http, $location) {
          var self = this;
          $http.get("/user").success(function(data) {
            if (data.userAuthentication) {
              if(data.userAuthentication.details.name)
                self.user = data.userAuthentication.details.name;
              else
                self.user = data.principal              
            } else if(data.principal){
              self.user = data.principal.username;              
            }
            
            
          }).error(function() {            
            
          });
          
        });
  </script>
</body>

</html>