<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
    	<p th:text="'Title: ' + ${picture.title}" />
    </div>
	<div>
    	<p th:text="'Year: ' + ${picture.year}" />
    </div>
	<div>
    	<p th:text="'Medium: ' + ${picture.medium}" />	
    </div>
    <div>
    	<p th:text="'Dimension: ' + ${picture.dimension}" />	
    </div>
    <div>
    	<p th:text="'Artist: ' + ${picture.artist.id}" />	
    </div>
	<p>
      <a href="../index.html" th:href="@{/}">Return to home</a>
    </p>
</body>
</html>